
<div class="row">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" > 
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['ogreddit/home']">Twitter</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a class="navbar-brand" [routerLink]="['ogreddit/compose']">Compose</a>
        </li>
        <li><a class="navbar-brand" [routerLink]="['ogreddit/info']">Info</a>
        </li>
      </ul>
    </div>
      
  </nav>
</div>
<div>
  <router-outlet></router-outlet>
</div>


      
      